header {
  background: url(../img/about-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

h2 {
  text-transform: uppercase;
}

.about {
  margin: 0 6vw 0 10vw;

  padding-bottom: 4rem;
}

.about article {
  display: flex;
  justify-content: center;
  gap: 15rem;
}

.about p {
  max-width: 60%;
}

.about img {
  max-width: 35%;
  margin-top: -7rem;
  object-fit: contain;
  border-radius: 50%;
}
