@font-face {
  font-family: Gochi;
  src: url(../font/GochiHand-Regular.ttf);
}

@font-face {
  font-family: Rakkas;
  src: url(../font/Rakkas-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../font/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Baloo2;
  src: url(../font/Baloo2-VariableFont_wght.ttf);
}

/* ! Allgemeine Styles  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrapper {
  /* max-width: 1200px; */
  width: 100vw;
  margin: 0 auto;

  background-color: #ffe1cc;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(5rem, 10vw, 18rem);
  color: #332623;
  font-family: Gochi;
  line-height: 70%;

  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(3rem, 4vw, 4rem);
  font-family: Baloo2;
  color: #332623;
  text-transform: uppercase;

  margin-bottom: 3rem;
}

h3 {
  font-size: clamp(2.5rem, 3.3vw, 3.5rem);
  font-family: Baloo2;
  color: #332623;

  margin-bottom: 2rem;
}

h4 {
  font-size: clamp(2.8rem, 3.2vw, 3.8rem);
  font-family: Baloo2;
}

h5 {
  font-size: clamp(2.5rem, 3vw, 3.2rem);
  font-family: Baloo2;
}

h6 {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  font-family: Baloo2;
}

p,
li {
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-family: Baloo2;
  color: #332623;

  margin-bottom: 2rem;
}

a {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  text-decoration: none;
}

.button {
  background-color: #332623;
  color: #ffe1cc;
  text-transform: uppercase;
  font-family: Baloo2;
  font-weight: 500;
  border-radius: 8px;
  padding: 1px 10px;
}

.button:hover {
  color: #ffb54a;
}

/* ! Navigation */
nav {
  text-transform: uppercase;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 3vw 10vw;

  /* margin-bottom: 30px; */
}

nav a,
.off-screen-menu a {
  padding: 0 30px;
  color: #000000;
  font-family: Raleway;
  font-weight: 500;

  margin-bottom: 2rem;
}

nav a:hover,
.off-screen-menu a:hover {
  color: #ffb54a;
}

.home {
  font-size: 2.5rem;
}

.active {
  color: #ff7b4d;
}

/* ! Burger Menü */
.burger-wrapper {
  padding: 2rem 0;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.burger {
  background-color: #332623;
  width: 2.3rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  margin: 0.3rem;

  display: none;
}

.burger.show {
  background-color: #ff7b4d;
}

.burger-wrapper.show div:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-wrapper.show div:nth-child(2) {
  opacity: 0;
}

.burger-wrapper.show div:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: #ffe1cc;

  display: flex;
  flex-direction: column;
  text-align: center;

  position: fixed;
  top: 50px;
  right: -1200px;

  transition: 0.3s ease;
}

.off-screen-menu.show {
  right: 20px;
}

/* ! Media Queries: Tablet  */
@media only screen and (max-width: 850px) {
  .burger {
    display: block;
  }

  nav {
    display: none;
  }
}
