header {
  background: url(../img/contact-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.contact {
  /* margin: 0 6vw 0 8vw; */
  /* padding-block: 5rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact article {
  display: flex;
  justify-content: center;
  gap: 10rem;

  margin-bottom: 3rem;
}

.contact a {
  font-size: clamp(1.8rem, 2vw, 2rem);
  color: #ff7b4d;
}

.contact p {
  margin-bottom: 0;
}

.contact article p:last-of-type {
  margin-bottom: 2rem;
}

.contact div {
  margin-bottom: 15rem;
}

/* ! Media Queries: Tablet  */

@media only screen and (max-width: 850px) {
  /* .contact article {
    gap: 10rem;
  } */

  .contact {
    padding-block: 5rem;
  }
  .contact article {
    flex-direction: column;
    gap: 2rem;
  }

  .contact div {
    margin-bottom: 0;
  }

  iframe {
    width: 650px;
  }
}

/* ! Media Queries: Mobile */
@media only screen and (max-width: 450px) {
  .contact article {
    flex-direction: column;
    gap: 2rem;
  }

  .contact div {
    margin-bottom: 0;
  }

  iframe {
    width: 320px;
  }
}
