header {
  background: url(../img/einrichtung-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.einrichtung {
  /* margin: 0 6vw 0 8vw;
  padding-block: 5rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.einrichtung article {
  margin-inline: 18rem;
}

.gallery {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 40%;
  object-fit: contain;
}

.gallery img:active {
  transform: scale(2);
}

/* ! Media Queries: Tablet  */
@media only screen and (max-width: 850px) {
  .einrichtung {
    padding-block: 5rem;
  }

  .einrichtung article {
    margin-inline: 7rem;
  }
}

/* ! Media Queries: Tablet  */
@media only screen and (max-width: 450px) {
  .einrichtung article {
    margin-inline: 4rem;
  }
}
