header {
  background: url(../img/desktop-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.greeting {
  display: flex;

  margin: 0 4vw;
  padding-block: 2rem;

  text-align: center;
}

.greeting img {
  width: 40%;
  object-fit: contain;
}

.greeting div {
  margin-top: 6rem;
}

.greeting h2 {
  text-transform: unset;
}

.greeting p {
  max-width: 50ch;
  padding: 0 10rem;
}

/* ! Animation der Luftballons */
img {
  animation: baloons 5s linear infinite;
  /* max-width: 500px; */
}

@keyframes baloons {
  0%,
  100% {
    transform: translate(50px, 10px);
  }

  50% {
    transform: translate(-20px, -70px);
  }
}

/* ! Media Queries: Tablet  */
@media only screen and (max-width: 850px) {
  @keyframes baloons {
    0%,
    100% {
      transform: translate(20rem, 40rem);
    }

    50% {
      transform: translate(1rem, 30rem);
    }
  }

  .greeting {
    flex-direction: column;
    margin: 0;
  }

  .greeting div {
    margin-top: -10rem;
  }

  .greeting p {
    max-width: 50ch;
    padding: 0 3rem;
  }
}
