header {
  background: url(../img/desktop-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.greeting {
  display: flex;

  margin: 0 4vw;
  padding-block: 2rem;

  text-align: center;
}

.greeting div {
  margin-top: 6rem;
  padding-block: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting h2 {
  text-transform: unset;
}

.greeting p {
  max-width: 50ch;
  padding: 0 10rem;
}

/* ! Animation der Luftballons */
.greeting img {
  width: 35%;
  object-fit: contain;

  animation: baloons 8s linear infinite;
}

@keyframes baloons {
  0%,
  100% {
    transform: translate(25%, 20%);
  }

  50% {
    transform: translate(2%, -10%);
  }
}

/* ! Media Queries: Tablet  */
@media only screen and (max-width: 850px) {
  @keyframes baloons {
    0%,
    100% {
      /* transform: translate(20rem, 40rem); */
      transform: translate(110%, 150%);
    }

    50% {
      /* transform: translate(1rem, 30rem); */
      transform: translate(20%, 110%);
    }
  }

  .greeting {
    flex-direction: column;
    margin: 0;
  }

  .greeting div {
    margin-top: -25rem;
  }

  .greeting p {
    max-width: 38ch;
    padding: 0 3rem;
  }

  .greeting img {
    width: 45%;
  }
}

/* ! Media Queries: Mobile  */
@media only screen and (max-width: 450px) {
  @keyframes baloons {
    0%,
    100% {
      /* transform: translate(20rem, 40rem); */
      transform: translate(120%, 230%);
    }

    50% {
      /* transform: translate(1rem, 30rem); */
      transform: translate(10%, 190%);
    }
  }

  .greeting div {
    margin-top: -15rem;
  }

  .greeting p {
    max-width: 30ch;
  }
}
