header {
  background: url(../img/konzept-bg.png) center no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.konzept h3 {
  font-weight: 400;
}

.konzept {
  margin: 0 6vw 0 8vw;
  padding-block: 5rem;
}
